# FOOD INSECURITY: Data Processing - Transform & Merge Data

## Prepare and Clean Variables

## Import Dependencies

In [1]:
#Import Dependencies
import pandas as pd
import os
import numpy as np

## Read in CSV Data

In [2]:
# Create the path and import the data STORES
stores_data = os.path.join('Datasets/stores.csv')
stores_df = pd.read_csv(stores_data)

In [3]:
# Create the path and import the data RESTURANTS 
restaurants_data = os.path.join('Datasets/restaurants.csv')
restaurants_df = pd.read_csv(restaurants_data)

In [4]:
# Create the path and import the data LOCAL 
local_data = os.path.join('Datasets/local.csv')
local_df = pd.read_csv(local_data)

In [5]:
# Create the path and import the data INSECURITY
insecurity_data = os.path.join('Datasets/insecurity.csv')
insecurity_df = pd.read_csv(insecurity_data)

## Check Data Frames

In [6]:
# Verify that the data was properly imported
stores_df.head()

,FIPS,State,County,"Grocery stores (% change), 2011-16","Grocery stores/1,000 pop, 2011","Grocery stores/1,000 pop, 2016","Grocery stores/1,000 pop (% change), 2011-16","Supercenters & club stores (% change), 2011-16","Supercenters & club stores/1,000 pop, 2011","Supercenters & club stores/1,000 pop, 2016","Supercenters & club stores/1,000 pop (% change), 2011-16","Convenience stores (% change), 2011-16","Convenience stores/1,000 pop, 2011","Convenience stores/1,000 pop, 2016","Convenience stores/1,000 pop (% change), 2011-16","Specialized food stores (% change), 2011-16","Specialized food stores/1,000 pop, 2011","Specialized food stores/1,000 pop, 2016","Specialized food stores/1,000 pop (% change), 2011-16"
0,1001,AL,Autauga,-40.000000,0.090581,0.054271,-40.085748,0.000000,0.018116,0.018090,-0.142914,0.000000,0.561604,0.560802,-0.142914,0.000000,0.018116,0.018090,-0.142914
1,1003,AL,Baldwin,7.407407,0.144746,0.139753,-3.449328,16.666667,0.032166,0.033733,4.874005,10.280374,0.573622,0.568650,-0.866761,35.000000,0.107219,0.130115,21.354206
2,1005,AL,Barbour,-33.333333,0.219370,0.155195,-29.254287,NaN,0.000000,0.038799,NaN,-13.636364,0.804358,0.737177,-8.352145,-33.333333,0.109685,0.077598,-29.254287
3,1007,AL,Bibb,-16.666667,0.263794,0.220916,-16.254289,0.000000,0.043966,0.044183,0.494853,-21.052632,0.835348,0.662749,-20.661958,0.000000,0.000000,0.000000,0.000000
4,1009,AL,Blount,-28.571429,0.121608,0.086863,-28.571429,0.000000,0.017373,0.017373,0.000000,-10.000000,0.521177,0.469059,-10.000000,-100.000000,0.017373,0.000000,-100.000000

In [7]:
# Verify that the data was properly imported
restaurants_df.head()

,FIPS,State,County,"Fast-food restaurants (% change), 2011-16","Fast-food restaurants/1,000 pop, 2011","Fast-food restaurants/1,000 pop, 2016","Fast-food restaurants/1,000 pop (% change), 2011-16","Full-service restaurants (% change), 2011-16","Full-service restaurants/1,000 pop, 2011","Full-service restaurants/1,000 pop, 2016","Full-service restaurants/1,000 pop (% change), 2011-16","Expenditures per capita, fast food, 2007*","Expenditures per capita, fast food, 2012*","Expenditures per capita, restaurants, 2007*","Expenditures per capita, restaurants, 2012*"
0,1001,AL,Autauga,29.411765,0.615953,0.795977,29.226817,-3.125000,0.579721,0.560802,-3.263448,649.511367,674.80272,484.381507,512.280987
1,1003,AL,Baldwin,28.925620,0.648675,0.751775,15.893824,9.259259,1.157966,1.137300,-1.784662,649.511367,674.80272,484.381507,512.280987
2,1005,AL,Barbour,21.052632,0.694673,0.892372,28.459320,-17.647059,0.621549,0.543183,-12.608237,649.511367,674.80272,484.381507,512.280987
3,1007,AL,Bibb,16.666667,0.263794,0.309283,17.243995,40.000000,0.219829,0.309283,40.692794,649.511367,674.80272,484.381507,512.280987
4,1009,AL,Blount,15.000000,0.347451,0.399569,15.000000,-20.000000,0.260589,0.208471,-20.000000,649.511367,674.80272,484.381507,512.280987

In [8]:
# Verify that the data was properly imported
local_df.head()

,FIPS,State,County,"Farms with direct sales (% change), 2007 - 12","Farms with direct sales (%), 2007","Farms with direct sales (%), 2012","Direct farm sales (%), 2007","Direct farm sales (%), 2012","Direct farm sales (% change), 2007 - 12","Direct farm sales per capita, 2007",...,"Vegetable acres harvested for fresh market, 2012","Vegetable acres harvested for fresh market (% change), 2007 - 12","Vegetable acres harvested for fresh market/1,000 pop, 2007","Vegetable acres harvested for fresh market/1,000 pop, 2012","Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12","CSA farms (% change), 2007 - 12","Agritourism operations (% change), 2007 - 12","Agritourism receipts (% change), 2007 - 12","Farm to school program, 2013","Farm to school program, 2015"
0,1001.0,AL,Autauga,104.000000,6.024096,13.110540,0.596374,1.554692,208.000000,1.908215,...,NaN,NaN,NaN,NaN,NaN,50.000000,42.857143,-35.964912,NaN,0.0
1,1003.0,AL,Baldwin,28.750000,7.023705,10.414560,0.712634,0.478010,-9.370629,4.147236,...,NaN,NaN,NaN,NaN,NaN,-46.153846,-11.111111,64.516129,0.0,1.0
2,1005.0,AL,Barbour,-27.777778,2.889246,2.276708,0.015403,0.012457,18.181818,0.396296,...,41.0,36.666667,1.080808,1.509628,39.675859,-100.000000,18.518519,86.503067,1.0,0.0
3,1007.0,AL,Bibb,8.333333,5.687204,6.878307,NaN,NaN,-56.521739,2.050094,...,12.0,NaN,NaN,0.529989,NaN,50.000000,20.000000,NaN,0.0,0.0
4,1009.0,AL,Blount,4.761905,5.940594,7.091056,0.267717,0.277792,15.384615,7.628023,...,654.0,12.564544,10.330725,11.319579,9.571967,-42.857143,-20.000000,-89.761092,1.0,0.0

In [9]:
# Verify that the data was properly imported
insecurity_df.head()

,FIPS,State,County,"Household food insecurity (%, three-year average), 2012-14*","Household food insecurity (%, three-year average), 2015-17*","Household food insecurity (change %),2012-14 to 2015-17*",Unnamed: 6
0,FIPS,State,County,FOODINSEC_12_14,FOODINSEC_15_17,CH_FOODINSEC_14_17,Model_answer
1,1001,AL,Autauga,16.8,16.3,-0.5,decr
2,1003,AL,Baldwin,16.8,16.3,-0.5,decr
3,1005,AL,Barbour,16.8,16.3,-0.5,decr
4,1007,AL,Bibb,16.8,16.3,-0.5,decr

In [10]:
### Note to INSECURITY - Remove First Row

## Clean Tables

### Stores

In [11]:
# Check for null values
stores_df.isna().sum()

FIPS                                                          0
State                                                         0
County                                                        0
Grocery stores (% change), 2011-16                           21
Grocery stores/1,000 pop, 2011                                0
Grocery stores/1,000 pop, 2016                                0
Grocery stores/1,000 pop (% change), 2011-16                 16
Supercenters & club stores (% change), 2011-16              133
Supercenters & club stores/1,000 pop, 2011                    0
Supercenters & club stores/1,000 pop, 2016                    0
Supercenters & club stores/1,000 pop (% change), 2011-16    132
Convenience stores (% change), 2011-16                       26
Convenience stores/1,000 pop, 2011                            0
Convenience stores/1,000 pop, 2016                            0
Convenience stores/1,000 pop (% change), 2011-16             21
Specialized food stores (% change), 2011-16                 250
Specialized food stores/1,000 pop, 2011                       0
Specialized food stores/1,000 pop, 2016                       0
Specialized food stores/1,000 pop (% change), 2011-16       247
dtype: int64

## MC NOTE - Lets drop Null Values after merge (Fips)

In [12]:
# Drop rows with null values and verify removal
# stores_df = stores_df.dropna()
# stores_df.isna().sum()

In [13]:
# Check for duplicated rows
stores_df.duplicated().sum()

0

In [14]:
# Check data types
stores_df.dtypes

FIPS                                                          int64
State                                                        object
County                                                       object
Grocery stores (% change), 2011-16                          float64
Grocery stores/1,000 pop, 2011                              float64
Grocery stores/1,000 pop, 2016                              float64
Grocery stores/1,000 pop (% change), 2011-16                float64
Supercenters & club stores (% change), 2011-16              float64
Supercenters & club stores/1,000 pop, 2011                  float64
Supercenters & club stores/1,000 pop, 2016                  float64
Supercenters & club stores/1,000 pop (% change), 2011-16    float64
Convenience stores (% change), 2011-16                      float64
Convenience stores/1,000 pop, 2011                          float64
Convenience stores/1,000 pop, 2016                          float64
Convenience stores/1,000 pop (% change), 2011-16            float64
Specialized food stores (% change), 2011-16                 float64
Specialized food stores/1,000 pop, 2011                     float64
Specialized food stores/1,000 pop, 2016                     float64
Specialized food stores/1,000 pop (% change), 2011-16       float64
dtype: object

### MC - Convert Objects to Int ? ( use Fips anyway)

In [15]:
# Display summary statistics for the DataFrame
stores_df.describe()

,FIPS,"Grocery stores (% change), 2011-16","Grocery stores/1,000 pop, 2011","Grocery stores/1,000 pop, 2016","Grocery stores/1,000 pop (% change), 2011-16","Supercenters & club stores (% change), 2011-16","Supercenters & club stores/1,000 pop, 2011","Supercenters & club stores/1,000 pop, 2016","Supercenters & club stores/1,000 pop (% change), 2011-16","Convenience stores (% change), 2011-16","Convenience stores/1,000 pop, 2011","Convenience stores/1,000 pop, 2016","Convenience stores/1,000 pop (% change), 2011-16","Specialized food stores (% change), 2011-16","Specialized food stores/1,000 pop, 2011","Specialized food stores/1,000 pop, 2016","Specialized food stores/1,000 pop (% change), 2011-16"
count,3143.000000,3122.000000,3143.000000,3143.000000,3127.000000,3010.000000,3143.000000,3143.000000,3011.000000,3117.000000,3143.000000,3143.000000,3122.000000,2893.000000,3143.000000,3143.000000,2896.000000
mean,30390.411709,-1.686820,0.258088,0.243835,-2.009041,7.500577,0.015814,0.018255,6.471715,2.451805,0.597443,0.595571,2.223228,-0.194405,0.054487,0.055450,-1.330181
std,15164.717720,33.551445,0.226151,0.216536,33.680897,28.584543,0.021221,0.022460,27.414592,28.612172,0.315033,0.304968,29.091220,59.334466,0.070637,0.075095,57.363606
min,1001.000000,-100.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000,-100.000000
25%,18178.000000,-20.000000,0.145277,0.132983,-18.976324,0.000000,0.000000,0.000000,0.000000,-11.111111,0.403994,0.401678,-12.003553,-16.666667,0.000000,0.000000,-17.877937
50%,29177.000000,0.000000,0.198373,0.186116,-0.967199,0.000000,0.007704,0.014654,0.000000,0.000000,0.544900,0.542005,0.082771,0.000000,0.040540,0.042268,0.000000
75%,45082.000000,7.273519,0.290565,0.279887,6.159588,0.000000,0.026024,0.029268,1.680186,12.500000,0.721159,0.722071,11.807520,0.000000,0.081159,0.079363,2.146911
max,56045.000000,200.000000,3.048780,3.267974,250.560776,400.000000,0.244141,0.250752,386.387558,400.000000,4.304161,3.680982,424.971407,900.000000,0.865052,1.095690,735.226849

In [16]:
stores_df.head()

,FIPS,State,County,"Grocery stores (% change), 2011-16","Grocery stores/1,000 pop, 2011","Grocery stores/1,000 pop, 2016","Grocery stores/1,000 pop (% change), 2011-16","Supercenters & club stores (% change), 2011-16","Supercenters & club stores/1,000 pop, 2011","Supercenters & club stores/1,000 pop, 2016","Supercenters & club stores/1,000 pop (% change), 2011-16","Convenience stores (% change), 2011-16","Convenience stores/1,000 pop, 2011","Convenience stores/1,000 pop, 2016","Convenience stores/1,000 pop (% change), 2011-16","Specialized food stores (% change), 2011-16","Specialized food stores/1,000 pop, 2011","Specialized food stores/1,000 pop, 2016","Specialized food stores/1,000 pop (% change), 2011-16"
0,1001,AL,Autauga,-40.000000,0.090581,0.054271,-40.085748,0.000000,0.018116,0.018090,-0.142914,0.000000,0.561604,0.560802,-0.142914,0.000000,0.018116,0.018090,-0.142914
1,1003,AL,Baldwin,7.407407,0.144746,0.139753,-3.449328,16.666667,0.032166,0.033733,4.874005,10.280374,0.573622,0.568650,-0.866761,35.000000,0.107219,0.130115,21.354206
2,1005,AL,Barbour,-33.333333,0.219370,0.155195,-29.254287,NaN,0.000000,0.038799,NaN,-13.636364,0.804358,0.737177,-8.352145,-33.333333,0.109685,0.077598,-29.254287
3,1007,AL,Bibb,-16.666667,0.263794,0.220916,-16.254289,0.000000,0.043966,0.044183,0.494853,-21.052632,0.835348,0.662749,-20.661958,0.000000,0.000000,0.000000,0.000000
4,1009,AL,Blount,-28.571429,0.121608,0.086863,-28.571429,0.000000,0.017373,0.017373,0.000000,-10.000000,0.521177,0.469059,-10.000000,-100.000000,0.017373,0.000000,-100.000000

### Restaurants

In [17]:
# Check for null values
restaurants_df.isna().sum()

FIPS                                                       0
State                                                      0
County                                                     0
Fast-food restaurants (% change), 2011-16                 57
Fast-food restaurants/1,000 pop, 2011                      0
Fast-food restaurants/1,000 pop, 2016                      0
Fast-food restaurants/1,000 pop (% change), 2011-16       52
Full-service restaurants (% change), 2011-16              28
Full-service restaurants/1,000 pop, 2011                   0
Full-service restaurants/1,000 pop, 2016                   0
Full-service restaurants/1,000 pop (% change), 2011-16    23
Expenditures per capita, fast food, 2007*                  0
Expenditures per capita, fast food, 2012*                  0
Expenditures per capita, restaurants, 2007*                0
Expenditures per capita, restaurants, 2012*                0
dtype: int64

## MC NOTE - Lets drop Null Values after merge (Fips)

In [18]:
# Drop rows with null values and verify removal
# restaurants_df = stores_df.dropna()
# restaurants_df.isna().sum()

In [19]:
# Check for duplicated rows
restaurants_df.duplicated().sum()

0

In [20]:
# Check data types
restaurants_df.dtypes

FIPS                                                        int64
State                                                      object
County                                                     object
Fast-food restaurants (% change), 2011-16                 float64
Fast-food restaurants/1,000 pop, 2011                     float64
Fast-food restaurants/1,000 pop, 2016                     float64
Fast-food restaurants/1,000 pop (% change), 2011-16       float64
Full-service restaurants (% change), 2011-16              float64
Full-service restaurants/1,000 pop, 2011                  float64
Full-service restaurants/1,000 pop, 2016                  float64
Full-service restaurants/1,000 pop (% change), 2011-16    float64
Expenditures per capita, fast food, 2007*                 float64
Expenditures per capita, fast food, 2012*                 float64
Expenditures per capita, restaurants, 2007*               float64
Expenditures per capita, restaurants, 2012*               float64
dtype: object

### MC - Convert Objects to Int ? ( use Fips anyway)

In [21]:
# Display summary statistics for the DataFrame
restaurants_df.describe()

,FIPS,"Fast-food restaurants (% change), 2011-16","Fast-food restaurants/1,000 pop, 2011","Fast-food restaurants/1,000 pop, 2016","Fast-food restaurants/1,000 pop (% change), 2011-16","Full-service restaurants (% change), 2011-16","Full-service restaurants/1,000 pop, 2011","Full-service restaurants/1,000 pop, 2016","Full-service restaurants/1,000 pop (% change), 2011-16","Expenditures per capita, fast food, 2007*","Expenditures per capita, fast food, 2012*","Expenditures per capita, restaurants, 2007*","Expenditures per capita, restaurants, 2012*"
count,3143.000000,3086.000000,3143.000000,3143.000000,3091.000000,3115.000000,3143.000000,3143.000000,3120.000000,3143.000000,3143.000000,3143.000000,3143.000000
mean,30390.411709,7.369681,0.560159,0.584822,6.996555,4.319878,0.772666,0.775831,3.937948,641.617910,599.639926,624.523725,651.969675
std,15164.717720,35.742862,0.301338,0.307703,35.734816,35.704458,0.594496,0.567851,36.033712,96.641980,78.735909,128.070842,116.536765
min,1001.000000,-100.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000,-100.000000,402.097804,364.112002,371.845051,439.731454
25%,18178.000000,-4.315086,0.395000,0.418769,-5.460144,-10.714286,0.492174,0.495050,-10.341727,576.210444,530.267589,534.383583,573.685136
50%,29177.000000,3.703704,0.562491,0.588565,3.581106,0.840336,0.665266,0.672495,1.651345,632.337378,611.294779,617.339006,643.144903
75%,45082.000000,17.647059,0.709595,0.748136,15.747054,15.384615,0.893799,0.894307,12.997554,721.823151,650.723556,711.769798,697.649988
max,56045.000000,400.000000,5.797101,5.805515,419.044171,400.000000,15.942029,11.611030,424.744486,1043.860861,1035.391608,1930.155806,2160.503105

In [22]:
restaurants_df.head()

,FIPS,State,County,"Fast-food restaurants (% change), 2011-16","Fast-food restaurants/1,000 pop, 2011","Fast-food restaurants/1,000 pop, 2016","Fast-food restaurants/1,000 pop (% change), 2011-16","Full-service restaurants (% change), 2011-16","Full-service restaurants/1,000 pop, 2011","Full-service restaurants/1,000 pop, 2016","Full-service restaurants/1,000 pop (% change), 2011-16","Expenditures per capita, fast food, 2007*","Expenditures per capita, fast food, 2012*","Expenditures per capita, restaurants, 2007*","Expenditures per capita, restaurants, 2012*"
0,1001,AL,Autauga,29.411765,0.615953,0.795977,29.226817,-3.125000,0.579721,0.560802,-3.263448,649.511367,674.80272,484.381507,512.280987
1,1003,AL,Baldwin,28.925620,0.648675,0.751775,15.893824,9.259259,1.157966,1.137300,-1.784662,649.511367,674.80272,484.381507,512.280987
2,1005,AL,Barbour,21.052632,0.694673,0.892372,28.459320,-17.647059,0.621549,0.543183,-12.608237,649.511367,674.80272,484.381507,512.280987
3,1007,AL,Bibb,16.666667,0.263794,0.309283,17.243995,40.000000,0.219829,0.309283,40.692794,649.511367,674.80272,484.381507,512.280987
4,1009,AL,Blount,15.000000,0.347451,0.399569,15.000000,-20.000000,0.260589,0.208471,-20.000000,649.511367,674.80272,484.381507,512.280987

### Local

In [23]:
# Check for null values
local_df.isna().sum()

FIPS                                                                             2
State                                                                            2
County                                                                           2
Farms with direct sales (% change), 2007 - 12                                  126
Farms with direct sales (%), 2007                                               71
Farms with direct sales (%), 2012                                               70
Direct farm sales (%), 2007                                                    348
Direct farm sales (%), 2012                                                    289
Direct farm sales (% change), 2007 - 12                                        461
Direct farm sales per capita, 2007                                             290
Direct farm sales per capita, 2012                                             245
Direct farm sales per capita (% change), 2007 - 12                             461
Farmers' markets (% change), 2013-18                                           168
Farmers' markets/1,000 pop, 2013                                                 5
Farmers' markets/1,000 pop, 2018                                                 5
Farmers' markets/1,000 pop (% change), 2013-18                                 170
Farms with vegetables harvested for fresh market, 2007                          65
Farms with vegetables harvested for fresh market, 2012                          65
Farms with vegetables harvested for fresh market (% change), 2007 - 12         366
Vegetable acres harvested for fresh market, 2007                              1302
Vegetable acres harvested for fresh market, 2012                              1228
Vegetable acres harvested for fresh market (% change), 2007 - 12              2093
Vegetable acres harvested for fresh market/1,000 pop, 2007                    1302
Vegetable acres harvested for fresh market/1,000 pop, 2012                    1229
Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12    2093
CSA farms (% change), 2007 - 12                                                798
Agritourism operations (% change), 2007 - 12                                   428
Agritourism receipts (% change), 2007 - 12                                    1878
Farm to school program, 2013                                                   209
Farm to school program, 2015                                                   220
dtype: int64

## MC NOTE - Lets drop Null Values after merge (Fips)

In [24]:
# Drop rows with null values and verify removal
# local_df = local_df.dropna()
# local_df.isna().sum()

In [25]:
# Check for duplicated rows
local_df.duplicated().sum()

0

In [26]:
# Check data types
local_df.dtypes

FIPS                                                                          float64
State                                                                          object
County                                                                         object
Farms with direct sales (% change), 2007 - 12                                 float64
Farms with direct sales (%), 2007                                             float64
Farms with direct sales (%), 2012                                             float64
Direct farm sales (%), 2007                                                   float64
Direct farm sales (%), 2012                                                   float64
Direct farm sales (% change), 2007 - 12                                       float64
Direct farm sales per capita, 2007                                            float64
Direct farm sales per capita, 2012                                            float64
Direct farm sales per capita (% change), 2007 - 12                            float64
Farmers' markets (% change), 2013-18                                          float64
Farmers' markets/1,000 pop, 2013                                              float64
Farmers' markets/1,000 pop, 2018                                              float64
Farmers' markets/1,000 pop (% change), 2013-18                                float64
Farms with vegetables harvested for fresh market, 2007                        float64
Farms with vegetables harvested for fresh market, 2012                        float64
Farms with vegetables harvested for fresh market (% change), 2007 - 12        float64
Vegetable acres harvested for fresh market, 2007                              float64
Vegetable acres harvested for fresh market, 2012                              float64
Vegetable acres harvested for fresh market (% change), 2007 - 12              float64
Vegetable acres harvested for fresh market/1,000 pop, 2007                    float64
Vegetable acres harvested for fresh market/1,000 pop, 2012                    float64
Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12    float64
CSA farms (% change), 2007 - 12                                               float64
Agritourism operations (% change), 2007 - 12                                  float64
Agritourism receipts (% change), 2007 - 12                                    float64
Farm to school program, 2013                                                  float64
Farm to school program, 2015                                                  float64
dtype: object

### MC - Convert Objects to Int ? ( use Fips anyway)

In [27]:
# Display summary statistics for the DataFrame
local_df.describe()

,FIPS,"Farms with direct sales (% change), 2007 - 12","Farms with direct sales (%), 2007","Farms with direct sales (%), 2012","Direct farm sales (%), 2007","Direct farm sales (%), 2012","Direct farm sales (% change), 2007 - 12","Direct farm sales per capita, 2007","Direct farm sales per capita, 2012","Direct farm sales per capita (% change), 2007 - 12",...,"Vegetable acres harvested for fresh market, 2012","Vegetable acres harvested for fresh market (% change), 2007 - 12","Vegetable acres harvested for fresh market/1,000 pop, 2007","Vegetable acres harvested for fresh market/1,000 pop, 2012","Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12","CSA farms (% change), 2007 - 12","Agritourism operations (% change), 2007 - 12","Agritourism receipts (% change), 2007 - 12","Farm to school program, 2013","Farm to school program, 2015"
count,3143.000000,3019.000000,3074.000000,3075.000000,2797.000000,2856.000000,2684.000000,2855.000000,2900.000000,2684.000000,...,1917.000000,1052.000000,1843.000000,1916.000000,1052.000000,2347.000000,2717.000000,1267.000000,2936.000000,2925.000000
mean,30390.411709,16.374970,6.345994,7.163598,0.994505,1.052153,54.254356,7.864188,8.282146,52.060417,...,1066.785603,18.542381,19.917427,17.146167,16.824489,11.490934,75.686260,232.313958,0.618399,0.616410
std,15164.717720,87.253374,6.004714,6.848137,2.218423,2.679010,312.945962,12.842668,12.916489,298.835535,...,7645.440429,136.981782,102.416277,95.268258,136.162559,153.529557,194.663546,1026.052981,0.485780,0.486343
min,1001.000000,-100.000000,0.000000,0.000000,0.000000,0.000000,-100.000000,0.000000,0.000000,-100.000000,...,0.000000,-100.000000,0.000000,0.000000,-100.000000,-100.000000,-100.000000,-100.000000,0.000000,0.000000
25%,18178.000000,-22.222222,2.690583,2.782858,0.080618,0.057476,-33.333333,1.801413,1.691256,-34.627091,...,9.000000,-43.012120,0.314892,0.296000,-44.936097,-83.333333,-28.571429,-40.391414,0.000000,0.000000
50%,29177.000000,1.244813,4.588460,4.979812,0.298841,0.225128,5.228476,4.261068,4.394925,4.147232,...,45.000000,-6.412130,1.441931,1.269520,-8.756606,-33.333333,25.000000,23.368421,1.000000,1.000000
75%,45082.000000,32.158385,7.963346,9.285714,0.914098,0.799506,64.072719,9.443116,9.885040,60.743051,...,226.000000,38.591430,4.834769,4.034521,35.878513,50.000000,100.000000,147.888182,1.000000,1.000000
max,56045.000000,1500.000000,100.000000,80.000000,33.333333,39.311594,11584.615380,252.747253,203.910615,10822.169740,...,247332.000000,1933.333333,1831.927101,2250.096220,1888.417050,1700.000000,3900.000000,20557.142860,1.000000,1.000000

In [28]:
local_df.head()

,FIPS,State,County,"Farms with direct sales (% change), 2007 - 12","Farms with direct sales (%), 2007","Farms with direct sales (%), 2012","Direct farm sales (%), 2007","Direct farm sales (%), 2012","Direct farm sales (% change), 2007 - 12","Direct farm sales per capita, 2007",...,"Vegetable acres harvested for fresh market, 2012","Vegetable acres harvested for fresh market (% change), 2007 - 12","Vegetable acres harvested for fresh market/1,000 pop, 2007","Vegetable acres harvested for fresh market/1,000 pop, 2012","Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12","CSA farms (% change), 2007 - 12","Agritourism operations (% change), 2007 - 12","Agritourism receipts (% change), 2007 - 12","Farm to school program, 2013","Farm to school program, 2015"
0,1001.0,AL,Autauga,104.000000,6.024096,13.110540,0.596374,1.554692,208.000000,1.908215,...,NaN,NaN,NaN,NaN,NaN,50.000000,42.857143,-35.964912,NaN,0.0
1,1003.0,AL,Baldwin,28.750000,7.023705,10.414560,0.712634,0.478010,-9.370629,4.147236,...,NaN,NaN,NaN,NaN,NaN,-46.153846,-11.111111,64.516129,0.0,1.0
2,1005.0,AL,Barbour,-27.777778,2.889246,2.276708,0.015403,0.012457,18.181818,0.396296,...,41.0,36.666667,1.080808,1.509628,39.675859,-100.000000,18.518519,86.503067,1.0,0.0
3,1007.0,AL,Bibb,8.333333,5.687204,6.878307,NaN,NaN,-56.521739,2.050094,...,12.0,NaN,NaN,0.529989,NaN,50.000000,20.000000,NaN,0.0,0.0
4,1009.0,AL,Blount,4.761905,5.940594,7.091056,0.267717,0.277792,15.384615,7.628023,...,654.0,12.564544,10.330725,11.319579,9.571967,-42.857143,-20.000000,-89.761092,1.0,0.0

In [29]:
# Check data types
local_df.dtypes

FIPS                                                                          float64
State                                                                          object
County                                                                         object
Farms with direct sales (% change), 2007 - 12                                 float64
Farms with direct sales (%), 2007                                             float64
Farms with direct sales (%), 2012                                             float64
Direct farm sales (%), 2007                                                   float64
Direct farm sales (%), 2012                                                   float64
Direct farm sales (% change), 2007 - 12                                       float64
Direct farm sales per capita, 2007                                            float64
Direct farm sales per capita, 2012                                            float64
Direct farm sales per capita (% change), 2007 - 12                            float64
Farmers' markets (% change), 2013-18                                          float64
Farmers' markets/1,000 pop, 2013                                              float64
Farmers' markets/1,000 pop, 2018                                              float64
Farmers' markets/1,000 pop (% change), 2013-18                                float64
Farms with vegetables harvested for fresh market, 2007                        float64
Farms with vegetables harvested for fresh market, 2012                        float64
Farms with vegetables harvested for fresh market (% change), 2007 - 12        float64
Vegetable acres harvested for fresh market, 2007                              float64
Vegetable acres harvested for fresh market, 2012                              float64
Vegetable acres harvested for fresh market (% change), 2007 - 12              float64
Vegetable acres harvested for fresh market/1,000 pop, 2007                    float64
Vegetable acres harvested for fresh market/1,000 pop, 2012                    float64
Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12    float64
CSA farms (% change), 2007 - 12                                               float64
Agritourism operations (% change), 2007 - 12                                  float64
Agritourism receipts (% change), 2007 - 12                                    float64
Farm to school program, 2013                                                  float64
Farm to school program, 2015                                                  float64
dtype: object

### Insecurity

In [30]:
## MC DROP FIRST ROW OF INSECURITY
# [  INSERT CODE  ]

## Merge Data Frames using groupby function

In [31]:
stores_rest_df = pd.merge(stores_df, restaurants_df, on='FIPS')
stores_rest_df.head()

,FIPS,State_x,County_x,"Grocery stores (% change), 2011-16","Grocery stores/1,000 pop, 2011","Grocery stores/1,000 pop, 2016","Grocery stores/1,000 pop (% change), 2011-16","Supercenters & club stores (% change), 2011-16","Supercenters & club stores/1,000 pop, 2011","Supercenters & club stores/1,000 pop, 2016",...,"Fast-food restaurants/1,000 pop, 2016","Fast-food restaurants/1,000 pop (% change), 2011-16","Full-service restaurants (% change), 2011-16","Full-service restaurants/1,000 pop, 2011","Full-service restaurants/1,000 pop, 2016","Full-service restaurants/1,000 pop (% change), 2011-16","Expenditures per capita, fast food, 2007*","Expenditures per capita, fast food, 2012*","Expenditures per capita, restaurants, 2007*","Expenditures per capita, restaurants, 2012*"
0,1001,AL,Autauga,-40.000000,0.090581,0.054271,-40.085748,0.000000,0.018116,0.018090,...,0.795977,29.226817,-3.125000,0.579721,0.560802,-3.263448,649.511367,674.80272,484.381507,512.280987
1,1003,AL,Baldwin,7.407407,0.144746,0.139753,-3.449328,16.666667,0.032166,0.033733,...,0.751775,15.893824,9.259259,1.157966,1.137300,-1.784662,649.511367,674.80272,484.381507,512.280987
2,1005,AL,Barbour,-33.333333,0.219370,0.155195,-29.254287,NaN,0.000000,0.038799,...,0.892372,28.459320,-17.647059,0.621549,0.543183,-12.608237,649.511367,674.80272,484.381507,512.280987
3,1007,AL,Bibb,-16.666667,0.263794,0.220916,-16.254289,0.000000,0.043966,0.044183,...,0.309283,17.243995,40.000000,0.219829,0.309283,40.692794,649.511367,674.80272,484.381507,512.280987
4,1009,AL,Blount,-28.571429,0.121608,0.086863,-28.571429,0.000000,0.017373,0.017373,...,0.399569,15.000000,-20.000000,0.260589,0.208471,-20.000000,649.511367,674.80272,484.381507,512.280987

In [32]:
Model_Data_df = pd.merge(stores_rest_df, local_df, on='FIPS')
Model_Data_df.head()

,FIPS,State_x,County_x,"Grocery stores (% change), 2011-16","Grocery stores/1,000 pop, 2011","Grocery stores/1,000 pop, 2016","Grocery stores/1,000 pop (% change), 2011-16","Supercenters & club stores (% change), 2011-16","Supercenters & club stores/1,000 pop, 2011","Supercenters & club stores/1,000 pop, 2016",...,"Vegetable acres harvested for fresh market, 2012","Vegetable acres harvested for fresh market (% change), 2007 - 12","Vegetable acres harvested for fresh market/1,000 pop, 2007","Vegetable acres harvested for fresh market/1,000 pop, 2012","Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12","CSA farms (% change), 2007 - 12","Agritourism operations (% change), 2007 - 12","Agritourism receipts (% change), 2007 - 12","Farm to school program, 2013","Farm to school program, 2015"
0,1001,AL,Autauga,-40.000000,0.090581,0.054271,-40.085748,0.000000,0.018116,0.018090,...,NaN,NaN,NaN,NaN,NaN,50.000000,42.857143,-35.964912,NaN,0.0
1,1003,AL,Baldwin,7.407407,0.144746,0.139753,-3.449328,16.666667,0.032166,0.033733,...,NaN,NaN,NaN,NaN,NaN,-46.153846,-11.111111,64.516129,0.0,1.0
2,1005,AL,Barbour,-33.333333,0.219370,0.155195,-29.254287,NaN,0.000000,0.038799,...,41.0,36.666667,1.080808,1.509628,39.675859,-100.000000,18.518519,86.503067,1.0,0.0
3,1007,AL,Bibb,-16.666667,0.263794,0.220916,-16.254289,0.000000,0.043966,0.044183,...,12.0,NaN,NaN,0.529989,NaN,50.000000,20.000000,NaN,0.0,0.0
4,1009,AL,Blount,-28.571429,0.121608,0.086863,-28.571429,0.000000,0.017373,0.017373,...,654.0,12.564544,10.330725,11.319579,9.571967,-42.857143,-20.000000,-89.761092,1.0,0.0

## Clean Model Data

In [34]:
# Check for null values
Model_Data_df.isna().sum()

FIPS                                               0
State_x                                            0
County_x                                           0
Grocery stores (% change), 2011-16                21
Grocery stores/1,000 pop, 2011                     0
                                                ...
CSA farms (% change), 2007 - 12                  796
Agritourism operations (% change), 2007 - 12     426
Agritourism receipts (% change), 2007 - 12      1876
Farm to school program, 2013                     208
Farm to school program, 2015                     218
Length: 62, dtype: int64

In [35]:
# Drop rows with null values and verify removal
Model_Data_df = Model_Data_df.dropna()
Model_Data_df.isna().sum()

FIPS                                            0
State_x                                         0
County_x                                        0
Grocery stores (% change), 2011-16              0
Grocery stores/1,000 pop, 2011                  0
                                               ..
CSA farms (% change), 2007 - 12                 0
Agritourism operations (% change), 2007 - 12    0
Agritourism receipts (% change), 2007 - 12      0
Farm to school program, 2013                    0
Farm to school program, 2015                    0
Length: 62, dtype: int64

In [36]:
# Check for duplicated rows
Model_Data_df.duplicated().sum()

0

In [37]:
# Check data types
Model_Data_df.dtypes

FIPS                                              int64
State_x                                          object
County_x                                         object
Grocery stores (% change), 2011-16              float64
Grocery stores/1,000 pop, 2011                  float64
                                                 ...
CSA farms (% change), 2007 - 12                 float64
Agritourism operations (% change), 2007 - 12    float64
Agritourism receipts (% change), 2007 - 12      float64
Farm to school program, 2013                    float64
Farm to school program, 2015                    float64
Length: 62, dtype: object

In [38]:
Model_Data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338 entries, 4 to 3134
Data columns (total 62 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   FIPS                                                                        338 non-null    int64
 1   State_x                                                                     338 non-null    object
 2   County_x                                                                    338 non-null    object
 3   Grocery stores (% change), 2011-16                                          338 non-null    float64
 4   Grocery stores/1,000 pop, 2011                                              338 non-null    float64
 5   Grocery stores/1,000 pop, 2016                                              338 non-null    float64
 6   Grocery stores/1,000 pop (% change), 2011-16                                338 non-null    float64
 7   Supercenters & club stores (% change), 2011-16                              338 non-null    float64
 8   Supercenters & club stores/1,000 pop, 2011                                  338 non-null    float64
 9   Supercenters & club stores/1,000 pop, 2016                                  338 non-null    float64
 10  Supercenters & club stores/1,000 pop (% change), 2011-16                    338 non-null    float64
 11  Convenience stores (% change), 2011-16                                      338 non-null    float64
 12  Convenience stores/1,000 pop, 2011                                          338 non-null    float64
 13  Convenience stores/1,000 pop, 2016                                          338 non-null    float64
 14  Convenience stores/1,000 pop (% change), 2011-16                            338 non-null    float64
 15  Specialized food stores (% change), 2011-16                                 338 non-null    float64
 16  Specialized food stores/1,000 pop, 2011                                     338 non-null    float64
 17  Specialized food stores/1,000 pop, 2016                                     338 non-null    float64
 18  Specialized food stores/1,000 pop (% change), 2011-16                       338 non-null    float64
 19  State_y                                                                     338 non-null    object
 20  County_y                                                                    338 non-null    object
 21  Fast-food restaurants (% change), 2011-16                                   338 non-null    float64
 22  Fast-food restaurants/1,000 pop, 2011                                       338 non-null    float64
 23  Fast-food restaurants/1,000 pop, 2016                                       338 non-null    float64
 24  Fast-food restaurants/1,000 pop (% change), 2011-16                         338 non-null    float64
 25  Full-service restaurants (% change), 2011-16                                338 non-null    float64
 26  Full-service restaurants/1,000 pop, 2011                                    338 non-null    float64
 27  Full-service restaurants/1,000 pop, 2016                                    338 non-null    float64
 28  Full-service restaurants/1,000 pop (% change), 2011-16                      338 non-null    float64
 29  Expenditures per capita, fast food, 2007*                                   338 non-null    float64
 30  Expenditures per capita, fast food, 2012*                                   338 non-null    float64
 31  Expenditures per capita, restaurants, 2007*                                 338 non-null    float64
 32  Expenditures per capita, restaurants, 2012*                                 338 non-null    float64
 33  State                                                                       338 non-null    object
 34  County                                                                      338 non-null    object
 35  Farms with direct sales (% change), 2007 - 12                               338 non-null    float64
 36  Farms with direct sales (%), 2007                                           338 non-null    float64
 37  Farms with direct sales (%), 2012                                           338 non-null    float64
 38  Direct farm sales (%), 2007                                                 338 non-null    float64
 39  Direct farm sales (%), 2012                                                 338 non-null    float64
 40  Direct farm sales (% change), 2007 - 12                                     338 non-null    float64
 41  Direct farm sales per capita, 2007                                          338 non-null    float64
 42  Direct farm sales per capita, 2012                                          338 non-null    float64
 43  Direct farm sales per capita (% change), 2007 - 12                          338 non-null    float64
 44  Farmers' markets (% change), 2013-18                                        338 non-null    float64
 45  Farmers' markets/1,000 pop, 2013                                            338 non-null    float64
 46  Farmers' markets/1,000 pop, 2018                                            338 non-null    float64
 47  Farmers' markets/1,000 pop (% change), 2013-18                              338 non-null    float64
 48  Farms with vegetables harvested for fresh market, 2007                      338 non-null    float64
 49  Farms with vegetables harvested for fresh market, 2012                      338 non-null    float64
 50  Farms with vegetables harvested for fresh market (% change), 2007 - 12      338 non-null    float64
 51  Vegetable acres harvested for fresh market, 2007                            338 non-null    float64
 52  Vegetable acres harvested for fresh market, 2012                            338 non-null    float64
 53  Vegetable acres harvested for fresh market (% change), 2007 - 12            338 non-null    float64
 54  Vegetable acres harvested for fresh market/1,000 pop, 2007                  338 non-null    float64
 55  Vegetable acres harvested for fresh market/1,000 pop, 2012                  338 non-null    float64
 56  Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12  338 non-null    float64
 57  CSA farms (% change), 2007 - 12                                             338 non-null    float64
 58  Agritourism operations (% change), 2007 - 12                                338 non-null    float64
 59  Agritourism receipts (% change), 2007 - 12                                  338 non-null    float64
 60  Farm to school program, 2013                                                338 non-null    float64
 61  Farm to school program, 2015                                                338 non-null    float64
dtypes: float64(55), int64(1), object(6)
memory usage: 166.4+ KB

In [39]:
# Display summary statistics for the DataFrame
Model_Data_df.describe()

,FIPS,"Grocery stores (% change), 2011-16","Grocery stores/1,000 pop, 2011","Grocery stores/1,000 pop, 2016","Grocery stores/1,000 pop (% change), 2011-16","Supercenters & club stores (% change), 2011-16","Supercenters & club stores/1,000 pop, 2011","Supercenters & club stores/1,000 pop, 2016","Supercenters & club stores/1,000 pop (% change), 2011-16","Convenience stores (% change), 2011-16",...,"Vegetable acres harvested for fresh market, 2012","Vegetable acres harvested for fresh market (% change), 2007 - 12","Vegetable acres harvested for fresh market/1,000 pop, 2007","Vegetable acres harvested for fresh market/1,000 pop, 2012","Vegetable acres harvested for fresh market/1,000 pop (% change), 2007 - 12","CSA farms (% change), 2007 - 12","Agritourism operations (% change), 2007 - 12","Agritourism receipts (% change), 2007 - 12","Farm to school program, 2013","Farm to school program, 2015"
count,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,...,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000,338.000000
mean,33489.073964,-1.916473,0.194808,0.183740,-3.794857,15.503316,0.018389,0.019878,12.978136,2.657146,...,3142.159763,13.769637,22.001642,20.042350,10.596636,43.795096,66.703155,239.806805,0.792899,0.813609
std,15742.501526,22.189862,0.097342,0.093507,22.288201,35.465521,0.014828,0.015476,33.639563,16.978229,...,15422.602051,79.825679,78.864759,74.380308,78.662898,169.535411,106.572515,1202.188438,0.405829,0.389999
min,1009.000000,-100.000000,0.037644,0.000000,-100.000000,-100.000000,0.000000,0.000000,-100.000000,-56.521739,...,0.000000,-100.000000,0.044862,0.000000,-100.000000,-100.000000,-100.000000,-100.000000,0.000000,0.000000
25%,21672.000000,-14.285714,0.135796,0.121962,-15.036445,0.000000,0.006665,0.009303,-0.666323,-5.882353,...,60.250000,-30.626347,1.143907,0.990746,-33.901261,-44.444444,0.000000,-31.922935,1.000000,1.000000
50%,36120.000000,0.000000,0.178506,0.168541,-3.642554,0.000000,0.017251,0.018774,0.064629,0.000000,...,242.500000,-3.896096,2.898154,2.714059,-6.938465,0.000000,41.296296,34.107692,1.000000,1.000000
75%,47185.000000,9.090909,0.233679,0.223142,5.753492,16.666667,0.027182,0.028789,14.248463,11.989130,...,1024.000000,33.418495,7.814696,7.146224,31.920182,75.000000,102.027027,172.708728,1.000000,1.000000
max,56029.000000,100.000000,0.906413,0.872144,117.072889,200.000000,0.067057,0.088543,195.284485,100.000000,...,247332.000000,660.000000,972.658390,999.912132,681.725589,1700.000000,733.333333,20557.142860,1.000000,1.000000

## Rename Column Variables using Variable Index

In [ ]:
#renamed_access_df = access_df.rename(columns={'LACCESS_POP10': 'Low_Acc_Pop10',\
#                                              'LACCESS_POP15': 'Population, low access to store, 2015'\                                                                                      
#                                             })

## Drop Any Un-Needed Columns

## Export the Cleaned Data Frame to a CSV

In [41]:
# Export the DataFrame as a CSV file using encoding='utf8'.
# renamed_access_df.to_csv('Access.csv', index=False, encoding="utf-8")
Model_Data_df.to_csv('Datasets/Model_Data.csv', index=False, encoding="utf-8")