In [1]:
#Import Dependencies
import pandas as pd
import os

In [2]:
# Create the path and import the data
access_data = os.path.join('FEA_Access_MC.csv')
access_df = pd.read_csv(access_data)

In [9]:
# Create the path and import the data
access_var = os.path.join('FEA_Access_Var_MC.csv')
access_var_df = pd.read_csv(access_var)

In [3]:
# Verify that the data was properly imported
access_df.head()

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
0,1001,AL,Autauga,18428.439690,17496.693040,-5.056026,33.769657,32.062255,5344.427472,6543.676824,...,471.136164,0.863345,86.767975,0.159000,61.169869,0.112092,8.817961,0.016159,482.848633,0.884808
1,1003,AL,Baldwin,35210.814080,30561.264430,-13.204891,19.318473,16.767489,9952.144027,9886.831137,...,1377.874834,0.755973,212.946378,0.116833,181.649648,0.099662,14.819634,0.008131,1127.696098,0.618712
2,1005,AL,Barbour,5722.305602,6069.523628,6.067799,20.840972,22.105560,3135.676086,2948.790251,...,509.377525,1.855183,17.096410,0.062266,39.960527,0.145539,8.082376,0.029436,462.382655,1.684025
3,1007,AL,Bibb,1044.867327,969.378841,-7.224696,4.559753,4.230324,491.449066,596.162829,...,8.596762,0.037516,1.994318,0.008703,2.513097,0.010967,0.000000,0.000000,5.259244,0.022951
4,1009,AL,Blount,1548.175559,3724.428242,140.568857,2.700840,6.497380,609.027708,1650.959482,...,497.489891,0.867886,8.428994,0.014705,28.938242,0.050484,1.062851,0.001854,202.914186,0.353990

In [12]:
# Verify that the variable list was properly imported
access_var_df

,Category Name,Category Code,Subcategory Name,Variable Name,Variable Code,Geography,Units
0,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2010",LACCESS_POP10,CNTY10,Count
1,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2015",LACCESS_POP15,CNTY10,Count
2,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (% change), 20...",PCH_LACCESS_POP_10_15,CNTY10,% change
3,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2010",PCT_LACCESS_POP10,CNTY10,Percent
4,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2015",PCT_LACCESS_POP15,CNTY10,Percent
...,...,...,...,...,...,...,...
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Check for null values
access_df.isna().sum()

FIPS                          0
State                         0
County                        0
LACCESS_POP10                 0
LACCESS_POP15                19
PCH_LACCESS_POP_10_15        26
PCT_LACCESS_POP10             0
PCT_LACCESS_POP15            19
LACCESS_LOWI10                0
LACCESS_LOWI15               20
PCH_LACCESS_LOWI_10_15       28
PCT_LACCESS_LOWI10            0
PCT_LACCESS_LOWI15           20
LACCESS_HHNV10                0
LACCESS_HHNV15                3
PCH_LACCESS_HHNV_10_15       14
PCT_LACCESS_HHNV10            0
PCT_LACCESS_HHNV15            3
LACCESS_SNAP15               20
PCT_LACCESS_SNAP15           20
LACCESS_CHILD10               0
LACCESS_CHILD15              19
LACCESS_CHILD_10_15          28
PCT_LACCESS_CHILD10           0
PCT_LACCESS_CHILD15          19
LACCESS_SENIORS10             0
LACCESS_SENIORS15            19
PCH_LACCESS_SENIORS_10_15    26
PCT_LACCESS_SENIORS10         0
PCT_LACCESS_SENIORS15        19
LACCESS_WHITE15              19
PCT_LACCESS_WHITE15          19
LACCESS_BLACK15              19
PCT_LACCESS_BLACK15          19
LACCESS_HISP15               19
PCT_LACCESS_HISP15           19
LACCESS_NHASIAN15            19
PCT_LACCESS_NHASIAN15        19
LACCESS_NHNA15               19
PCT_LACCESS_NHNA15           19
LACCESS_NHPI15               19
PCT_LACCESS_NHPI15           19
LACCESS_MULTIR15             19
PCT_LACCESS_MULTIR15         19
dtype: int64

In [ ]:
# Drop rows with null values and verify removal
# access_df = student_df.dropna()
# access_df.isna().sum()

In [5]:
# Check for duplicated rows
access_df.duplicated().sum()

0

In [ ]:
# Drop duplicated rows and verify removal
# access_df = student_df.drop_duplicates()
# access_df.duplicated().sum()

In [6]:
# Check data types
access_df.dtypes

FIPS                           int64
State                         object
County                        object
LACCESS_POP10                float64
LACCESS_POP15                float64
PCH_LACCESS_POP_10_15        float64
PCT_LACCESS_POP10            float64
PCT_LACCESS_POP15            float64
LACCESS_LOWI10               float64
LACCESS_LOWI15               float64
PCH_LACCESS_LOWI_10_15       float64
PCT_LACCESS_LOWI10           float64
PCT_LACCESS_LOWI15           float64
LACCESS_HHNV10               float64
LACCESS_HHNV15               float64
PCH_LACCESS_HHNV_10_15       float64
PCT_LACCESS_HHNV10           float64
PCT_LACCESS_HHNV15           float64
LACCESS_SNAP15               float64
PCT_LACCESS_SNAP15           float64
LACCESS_CHILD10              float64
LACCESS_CHILD15              float64
LACCESS_CHILD_10_15          float64
PCT_LACCESS_CHILD10          float64
PCT_LACCESS_CHILD15          float64
LACCESS_SENIORS10            float64
LACCESS_SENIORS15            float64
PCH_LACCESS_SENIORS_10_15    float64
PCT_LACCESS_SENIORS10        float64
PCT_LACCESS_SENIORS15        float64
LACCESS_WHITE15              float64
PCT_LACCESS_WHITE15          float64
LACCESS_BLACK15              float64
PCT_LACCESS_BLACK15          float64
LACCESS_HISP15               float64
PCT_LACCESS_HISP15           float64
LACCESS_NHASIAN15            float64
PCT_LACCESS_NHASIAN15        float64
LACCESS_NHNA15               float64
PCT_LACCESS_NHNA15           float64
LACCESS_NHPI15               float64
PCT_LACCESS_NHPI15           float64
LACCESS_MULTIR15             float64
PCT_LACCESS_MULTIR15         float64
dtype: object

In [7]:
# Display summary statistics for the DataFrame
access_df.describe()

,FIPS,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,PCH_LACCESS_LOWI_10_15,PCT_LACCESS_LOWI10,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
count,3143.000000,3143.000000,3124.000000,3.117000e+03,3143.000000,3124.000000,3143.000000,3123.000000,3.115000e+03,3143.000000,...,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000
mean,30390.411709,20156.653242,19287.747386,7.180008e+03,23.559330,23.084470,5551.776559,5833.959524,7.318957e+03,8.374953,...,2326.081648,2.021269,695.064178,0.249350,230.259498,0.804746,32.204247,0.019207,1290.799156,1.154542
std,15164.717720,51308.865791,47803.525595,3.955676e+05,20.250176,19.602745,13862.922934,13989.348252,4.004692e+05,8.214988,...,12159.928409,5.030497,3466.438554,0.693856,1387.887687,4.835109,435.841952,0.134887,5414.425184,1.864479
min,1001.000000,0.000000,0.000000,-1.000000e+02,0.000000,0.000000,0.000000,0.000000,-1.000000e+02,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18178.000000,1661.076793,1631.358726,-1.091343e+01,10.847099,10.927326,592.983070,608.235919,-1.232638e+01,3.442171,...,31.131894,0.197446,3.328667,0.027088,5.274117,0.026997,0.000000,0.000000,33.382261,0.221558
50%,29177.000000,4097.827186,4131.174278,-6.239322e-02,19.685956,19.200682,1500.780036,1636.858816,3.486028e+00,6.150772,...,136.051404,0.579669,16.473665,0.085588,20.850829,0.072033,1.000000,0.003242,132.098182,0.572597
75%,45082.000000,12954.123205,13119.029393,7.262080e+00,29.581054,28.862231,4591.067541,4859.016156,2.352342e+01,10.324935,...,874.891533,1.673132,130.916653,0.249311,101.353615,0.186646,7.107201,0.013054,658.924526,1.318699
max,56045.000000,886068.668400,740267.412700,2.208376e+07,100.000001,100.000001,292541.789000,259479.516000,2.234893e+07,72.274456,...,263440.500100,79.323968,76998.348560,25.087551,40350.800430,83.844210,21387.063060,4.469546,115781.021500,27.120652